html,body {
    height: 90%;
    width: 100%;
    margin: 0;
    padding-top: 10px;
}

div.programStart{
    display: flex;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
}

span.title {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-right: 10px;
}

div.line {
    height: 2px;
    flex-grow: 1;
    background-color: black; /* Gray color */
    margin-left: 10px;
}

section.boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

div.box {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

div.box img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: 0;
    transition: transform 0.5s linear, opacity 0.5s linear ;
}

div.box h1 {
    position: absolute; /* Required to position it */   
    font-size: 24px;
    top: 70%;
    left:  5%;
    z-index: 1; /* Ensure it's on top of the image */
    color: white;
    transition: top 0.5s linear,font-weight 0.5s linear, text-decoration 0.5s linear, color 0.5s linear;  
}

div.box:hover img {
    transform: scale(1.5);
    opacity: 0.4;
}

div.box:hover h1 {
    position: absolute;
    top: 30%;
    font-weight: bolder;
    text-decoration: underline;
    color: black;
}

div.box::after {
    content:attr(data-content);
    position: absolute;
    top: 60%;  /* Adjust this to position your text */
    left: 5%;
    font-size: 18px;
    color: black;
    z-index: 2;  /* Ensure it's above the image */
    opacity: 0;  /* Start as invisible */
    transition: opacity 0.5s ease-in-out;
}

div.box:hover::after {
    opacity: 1;  /* Make the text visible when hovered */
}

